* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  color: #22272D;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 65px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 15px;
}

h3 {
  font-size: 35px;
  margin-bottom: -25px;
}

h4 {
  color: white;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #6c6c6b;
}

.special-title {
  font-weight: 300;
  color: #1fad95;
}

p {
  color: #6c6c6b;
}

.btn {
  font-weight: bold;
  padding: 12px 40px;
  color: #1fad95;
  background-color: white;
  border-radius: 7px;
  transition: color 0.4s, background-color 0.4s;
}
.btn:hover {
  color: white;
  background-color: #1fad95;
}

.inverted {
  display: inline-block;
  text-align: center;
  width: 190px;
  padding: 10px 40px;
  margin-top: 25px;
  color: white;
  border: 2px solid #1fad95;
  background-color: #1fad95;
  transition: color 0.4s, background-color 0.4s;
}
.inverted:hover {
  color: #1fad95;
  background-color: white;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 0 140px;
}
nav ul {
  display: flex;
}
nav div {
  display: flex;
}
nav #left-nav {
  margin-right: auto;
  color: #22272D;
  font-weight: 500;
}
nav #left-nav li {
  margin-right: 25px;
}
nav #left-nav li i {
  margin-left: 5px;
  font-size: 10px;
}
nav #left-nav li:hover {
  cursor: pointer;
}
nav #left-nav li {
  position: relative;
  transition: color 0.4s;
}
nav #left-nav li:hover {
  color: #1fad95;
}
nav #left-nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #1fad95;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
nav #left-nav li a:hover:before,
nav #left-nav li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
nav #central-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
nav #central-nav img {
  width: 160px;
}
nav #right-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #22272D;
  font-size: 17px;
}
nav #right-nav li {
  padding: 10px;
  transition: color 0.4s;
}
nav #right-nav li:hover {
  cursor: pointer;
  color: #1fad95;
}
nav #right-nav li:not(:first-child),
nav #right-nav span {
  margin-left: 5px;
}
nav #right-nav span {
  border-radius: 5px;
  background-color: #F5F5F5;
  overflow: hidden;
}
nav #right-nav span input {
  padding: 13px 15px;
  border: none;
  background-color: #F5F5F5;
}
nav #right-nav span input:focus {
  outline: none;
}
nav #right-nav span i {
  padding: 13px 10px;
  color: #1fad95;
  background-color: #F5F5F5;
  transition: background-color 0.4s, color 0.4s;
}
nav #right-nav span i:hover {
  cursor: pointer;
  background-color: #1fad95;
  color: white;
}

#jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  color: white;
  background-position: center;
  background-image: url("../img/home-3-hero-bg.jpg");
}

#main-section .explanation {
  display: flex;
}
#main-section .explanation .text-section {
  width: 35%;
}
#main-section .explanation .image-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 65%;
}
#main-section .explanation .left-txt {
  padding: 15px 20px 15px 0;
}
#main-section .explanation .right-img {
  justify-content: flex-end;
}
#main-section .explanation .right-img .main-img {
  height: 90%;
}
#main-section .explanation .right-img .trans-img {
  position: absolute;
  height: 170px;
  top: -55px;
  right: -60px;
}
#main-section .explanation .right-img .shape-square {
  position: absolute;
  height: 100px;
  top: -45px;
  right: 50px;
  z-index: -1;
}
#main-section .explanation .right-img .shape-circle-dot {
  position: absolute;
  height: 100px;
  bottom: -50px;
  right: 50px;
}
#main-section .explanation .right-img .circle-shape {
  position: absolute;
  top: 5px;
  left: 50px;
}
#main-section .explanation .right-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-section .explanation .left-img {
  justify-content: flex-start;
}
#main-section .explanation .left-img .main-img {
  position: relative;
  height: 90%;
}
#main-section .explanation .left-img .main-img:hover {
  cursor: pointer;
}
#main-section .explanation .left-img .main-img .image {
  height: 100%;
}
#main-section .explanation .left-img .main-img .yt-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 60px;
}
#main-section .explanation .left-img .shape-square {
  position: absolute;
  height: 125px;
  bottom: -45px;
  right: 65px;
  z-index: -1;
}
#main-section .explanation .left-img .circle-shape {
  position: absolute;
  top: 0px;
  right: -35px;
}
#main-section .explanation .left-img .shape-oval-dot {
  position: absolute;
  height: 140px;
  top: 60px;
  left: -85px;
  z-index: -1;
}
#main-section .explanation .left-img .cloud-shape {
  position: absolute;
  height: 130px;
  top: 30px;
  left: -65px;
  z-index: 1;
  color: blue;
}
#main-section .explanation .centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-section .explanation .testimonial {
  padding: 25px 45px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.4);
}
#main-section .explanation .testimonial .bold-p {
  font-size: 18px;
}
#main-section .explanation .testimonial p {
  margin: 15px 0 35px;
  font-size: 16px;
}
#main-section .explanation .testimonial .testimonial-profile {
  display: flex;
}
#main-section .explanation .testimonial .testimonial-profile img {
  height: 70px;
  border-radius: 50%;
  margin-right: 15px;
}
#main-section .explanation .testimonial .testimonial-profile .test-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main-section .explanation .testimonial .testimonial-profile .testimonial-name {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
#main-section .explanation .testimonial .testimonial-profile .testimonial-job {
  color: #6c6c6b;
}
#main-section .explanation .testimonial.main {
  position: relative;
  background-color: white;
}
#main-section .explanation .testimonial.behind {
  padding: 20px 35px;
  width: 70%;
  position: absolute;
  right: 45%;
  transform: translateX(50%);
  z-index: -1;
  opacity: 0.4;
}
#main-section .explanation .behind.top {
  top: -80px;
}
#main-section .explanation .behind.top .bold-p {
  font-size: 14px;
}
#main-section .explanation .behind.top p {
  font-size: 13px;
  margin-top: 10px;
}
#main-section .explanation .behind.bottom {
  bottom: -55px;
}
#main-section .explanation .behind.bottom img {
  height: 50px;
}
#main-section .explanation .behind.bottom .testimonial-name {
  font-size: 13px;
}
#main-section .explanation .behind.bottom .testimonial-job {
  font-size: 12px;
}
#main-section #testimonals {
  margin-top: 140px;
}
#main-section #sixth {
  margin: 150px 0;
}
#main-section #sixth .main-img {
  height: 90%;
}

#main-section .statistics {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  text-align: center;
}
#main-section .statistics section {
  padding: 0 50px;
}

.preview {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0 0 0;
}
.preview .CTA {
  width: 40%;
  margin: auto;
  padding: 20px 0 85px 0;
  color: #6c6c6b;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.card {
  position: relative;
  width: 31%;
  height: 380px;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
}
.card:hover {
  cursor: pointer;
}
.card:hover > .card-img > img {
  transform: scale(1.1);
}
.card .card-img {
  overflow: hidden;
}
.card .card-img img {
  width: 100%;
  transform: scale(1);
  transition: 1s ease-out;
}
.card .card-txt {
  padding: 10px 20px 20px;
  text-align: left;
}
.card .card-txt .course-price {
  font-weight: bold;
  font-size: 19px;
  color: #1fad95;
}
.card .card-txt .smaller {
  font-size: 14px;
}
.card .card-txt .bold-p {
  transition: color 0.4s;
}
.card .card-txt .bold-p:hover {
  color: #1fad95;
}
.card .card-txt .other-infos {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 13px;
  color: #6c6c6b;
}
.card .card-txt .other-infos span {
  margin-right: 20px;
}
.card .card-txt .other-infos span i {
  margin-right: 5px;
}

.free:after {
  content: "FREE";
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 15px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #EE7454;
  transform: skew(0deg, 6deg);
}

.carousel ul {
  display: flex;
  justify-content: center;
  text-align: center;
}
.carousel ul li {
  padding: 0 7px;
}
.carousel ul li:hover {
  cursor: pointer;
}
.carousel ul li i {
  font-size: 7px;
  color: lightgrey;
}
.carousel ul li .active {
  font-size: 9px;
  color: black;
}

.stripe {
  background-color: #CCFFFF;
  position: relative;
  margin-bottom: 80px;
}

.stripe:before {
  content: "";
  background-image: linear-gradient(180deg, white, #F6F6F6);
  position: absolute;
  height: 600px;
  bottom: 0;
  width: 3200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
  border-radius: 80%;
}

main .container {
  margin: 0 auto;
  padding: 120px 0 80px 0;
  width: 60%;
}
main .circle-shape {
  border: 6px solid #ECC5AA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
main .CTA {
  margin-top: 30px;
}
main .CTA:hover {
  cursor: pointer;
}
main .CTA .bold-black {
  transition: color 0.4s;
}
main .CTA .bold-black:hover {
  color: #1fad95;
}
main .greenCTA {
  position: relative;
}
main .greenCTA:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #1fad95;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
main .greenCTA:hover:before, main .greenCTA:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
main .bold-p {
  font-weight: bold;
  font-size: 16px;
}
main .bold-green {
  font-weight: bold;
  color: #1fad95;
}
main .bold-black {
  padding-bottom: 0;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
  color: black;
  transition: color 0.4s, border-color 0.4;
}
main .bold-black:hover {
  color: #1fad95;
  border-color: #1fad95;
}

footer {
  padding: 40px 0;
  color: #696969;
  background-color: #181722;
}
footer a {
  transition: color 0.4s;
}
footer a:hover {
  color: #1fad95;
}
footer #footer-container {
  margin: auto;
  max-width: 1200px;
}
footer #footer-container li {
  margin: 10px 0;
}
footer #footer-container .top-footer {
  display: flex;
}
footer #footer-container .top-footer #left-footer {
  width: 50%;
}
footer #footer-container .top-footer #left-footer .contacts ul {
  display: flex;
}
footer #footer-container .top-footer #left-footer .contacts ul li {
  margin-right: 20px;
  font-size: 20px;
}
footer #footer-container .top-footer #left-footer .contacts ul a:hover {
  color: white;
}
footer #footer-container .top-footer #right-footer {
  display: flex;
  width: 50%;
}
footer #footer-container .top-footer #right-footer section {
  margin: 0 40px;
}
footer #footer-container .top-footer #right-footer .explore h4 {
  margin-bottom: 10px;
}
footer #footer-container .top-footer #right-footer .explore ul {
  /* Chrome/Opera, Safari */
  -moz-column-count: 2;
  /* Mozilla Firefox */
  column-count: 2;
  /* Chrome/Opera, Safari */
  -moz-column-gap: 40px;
  /* Mozilla Firefox */
  column-gap: 40px;
}
footer #footer-container .top-footer #right-footer .explore ul li {
  margin-top: 0;
}
footer #footer-container .bottom-footer {
  text-align: center;
  padding-top: 50px;
}
