* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  color: #22272D;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 65px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 15px;
}

h3 {
  font-size: 35px;
  margin-bottom: -25px;
}

h4 {
  color: white;
}

h5 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #6c6c6b;
}

.special-title {
  font-weight: 300;
  color: #1fad95;
}

p {
  color: #6c6c6b;
}

.btn {
  font-weight: bold;
  padding: 12px 40px;
  color: #1fad95;
  background-color: white;
  border-radius: 7px;
  transition: color 0.4s, background-color 0.4s;
}
.btn:hover {
  color: white;
  background-color: #1fad95;
}

.bold-green {
  font-weight: bold;
  color: #1fad95;
}

.CTA {
  margin-top: 30px;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 0 140px;
}
nav ul {
  display: flex;
}
nav div {
  display: flex;
}
nav #left-nav {
  margin-right: auto;
  color: #22272D;
  font-weight: 500;
}
nav #left-nav li {
  margin-right: 25px;
}
nav #left-nav li i {
  margin-left: 5px;
  font-size: 10px;
}
nav #left-nav li:hover {
  cursor: pointer;
}
nav #left-nav li {
  position: relative;
  transition: color 0.4s;
}
nav #left-nav li:hover {
  color: #1fad95;
}
nav #left-nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #1fad95;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
nav #left-nav li a:hover:before,
nav #left-nav li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
nav #central-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
nav #central-nav img {
  width: 160px;
}
nav #right-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #22272D;
  font-size: 17px;
}
nav #right-nav li {
  padding: 10px;
  transition: color 0.4s;
}
nav #right-nav li:hover {
  cursor: pointer;
  color: #1fad95;
}
nav #right-nav li:not(:first-child),
nav #right-nav span {
  margin-left: 5px;
}
nav #right-nav span {
  border-radius: 5px;
  background-color: #F5F5F5;
  overflow: hidden;
}
nav #right-nav span input {
  padding: 13px 15px;
  border: none;
  background-color: #F5F5F5;
}
nav #right-nav span input:focus {
  outline: none;
}
nav #right-nav span i {
  padding: 13px 10px;
  color: #1fad95;
  background-color: #F5F5F5;
  transition: background-color 0.4s, color 0.4s;
}
nav #right-nav span i:hover {
  cursor: pointer;
  background-color: #1fad95;
  color: white;
}

main .container {
  margin: 0 auto;
  padding: 120px 0 80px 0;
  width: 65%;
}
main #jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  color: white;
  background-position: center;
  background-image: url("../img/home-3-hero-bg.jpg");
}
main #main-section .left-exp {
  display: flex;
}
main #main-section .left-exp .left-part {
  width: 35%;
  padding: 15px 20px;
}
main #main-section .left-exp .right-part {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
}
main #main-section .left-exp .right-part .main-img {
  height: 90%;
}
main #main-section .left-exp .right-part .trans-img {
  position: absolute;
  height: 170px;
  top: -55px;
  right: -60px;
}
main #main-section .left-exp .right-part .shape-first {
  position: absolute;
  height: 100px;
  top: -45px;
  right: 50px;
  z-index: -1;
}
main #main-section .left-exp .right-part .shape-second {
  position: absolute;
  height: 100px;
  bottom: -50px;
  right: 50px;
}
main #main-section .left-exp .right-part .circle-shape {
  position: absolute;
  top: 5px;
  left: 50px;
  border: 6px solid #ECC5AA;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

footer {
  padding: 40px 0;
  color: #696969;
  background-color: #181722;
}
footer a {
  transition: color 0.4s;
}
footer a:hover {
  color: #1fad95;
}
footer #footer-container {
  margin: auto;
  max-width: 1200px;
}
footer #footer-container li {
  margin: 10px 0;
}
footer #footer-container .top-footer {
  display: flex;
}
footer #footer-container .top-footer #left-footer {
  width: 50%;
}
footer #footer-container .top-footer #left-footer .contacts ul {
  display: flex;
}
footer #footer-container .top-footer #left-footer .contacts ul li {
  margin-right: 20px;
  font-size: 20px;
}
footer #footer-container .top-footer #left-footer .contacts ul a:hover {
  color: white;
}
footer #footer-container .top-footer #right-footer {
  display: flex;
  width: 50%;
}
footer #footer-container .top-footer #right-footer section {
  margin: 0 40px;
}
footer #footer-container .top-footer #right-footer .explore h4 {
  margin-bottom: 10px;
}
footer #footer-container .top-footer #right-footer .explore ul {
  /* Chrome/Opera, Safari */
  -moz-column-count: 2;
  /* Mozilla Firefox */
  column-count: 2;
  /* Chrome/Opera, Safari */
  -moz-column-gap: 40px;
  /* Mozilla Firefox */
  column-gap: 40px;
}
footer #footer-container .top-footer #right-footer .explore ul li {
  margin-top: 0;
}
footer #footer-container .bottom-footer {
  text-align: center;
  padding-top: 50px;
}
