* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 15px;
  color: #22272D;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h4 {
  color: white;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: white;
  padding: 0 140px;
}
nav ul {
  display: flex;
}
nav div {
  display: flex;
}
nav #left-nav {
  margin-right: auto;
  color: #22272D;
  font-weight: 500;
}
nav #left-nav li:not(:last-child) {
  margin-right: 25px;
}
nav #left-nav li:not(:last-child) i {
  margin-left: 5px;
  font-size: 10px;
}
nav #left-nav li {
  position: relative;
  transition: color 0.4s;
}
nav #left-nav li:hover {
  color: #1fad95;
}
nav #left-nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #1fad95;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}
nav #left-nav li a:hover:before,
nav #left-nav li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
nav #central-nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
nav #central-nav img {
  width: 160px;
}
nav #right-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #22272D;
  font-size: 17px;
}
nav #right-nav li {
  padding: 10px;
  transition: color 0.4s;
}
nav #right-nav li:hover {
  cursor: pointer;
  color: #1fad95;
}
nav #right-nav li:not(:first-child),
nav #right-nav span {
  margin-left: 5px;
}
nav #right-nav span {
  border-radius: 5px;
  background-color: #F5F5F5;
  overflow: hidden;
}
nav #right-nav span input {
  padding: 13px 15px;
  border: none;
  background-color: #F5F5F5;
}
nav #right-nav span input:focus {
  outline: none;
}
nav #right-nav span i {
  padding: 13px 10px;
  color: #1fad95;
  background-color: #F5F5F5;
  transition: background-color 0.4s, color 0.4s;
}
nav #right-nav span i:hover {
  cursor: pointer;
  background-color: #1fad95;
  color: white;
}

footer {
  padding: 40px 0;
  color: #696969;
  background-color: #181722;
}
footer a {
  transition: color 0.4s;
}
footer a:hover {
  color: #1fad95;
}
footer #footer-container {
  margin: auto;
  max-width: 1200px;
}
footer #footer-container li {
  margin: 10px 0;
}
footer #footer-container .top-footer {
  display: flex;
}
footer #footer-container .top-footer #left-footer {
  width: 50%;
}
footer #footer-container .top-footer #left-footer .contacts ul {
  display: flex;
}
footer #footer-container .top-footer #left-footer .contacts ul li {
  margin-right: 20px;
  font-size: 20px;
}
footer #footer-container .top-footer #left-footer .contacts ul a:hover {
  color: white;
}
footer #footer-container .top-footer #right-footer {
  display: flex;
  width: 50%;
}
footer #footer-container .top-footer #right-footer section {
  margin: 0 40px;
}
footer #footer-container .top-footer #right-footer .explore h4 {
  margin-bottom: 10px;
}
footer #footer-container .top-footer #right-footer .explore ul {
  /* Chrome/Opera, Safari */
  -moz-column-count: 2;
  /* Mozilla Firefox */
  column-count: 2;
  /* Chrome/Opera, Safari */
  -moz-column-gap: 40px;
  /* Mozilla Firefox */
  column-gap: 40px;
}
footer #footer-container .top-footer #right-footer .explore ul li {
  margin-top: 0;
}
footer #footer-container .bottom-footer {
  text-align: center;
  padding-top: 50px;
}
