<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MaxCoach</title>
    <!-- Import CSS -->
    <link rel="stylesheet" href="css/app.css">
    <!-- Import Font -->
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Import FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- VueJS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

  </head>
  <body >
    <div id="root">
      <!-- Navbar section -->
      <nav>
        <div id="left-nav">
          <ul>
            <li v-for = "nav in leftNavBarLinks"><a :href = nav.link>{{nav.name}}<i class="fas fa-chevron-down"></i></a></li>
          </ul>
        </div>
        <div id="central-nav">
          <a href="#"><img src="img/dark-logo.png" alt="MaxCoach logo"></a>
        </div>
        <div id="right-nav">
          <ul>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a :href=accountLink><i class="far fa-user-circle"></i></a></li>
          </ul>
          <span>
            <input type="text" name="search" placeholder="Search...">
            <i class="fas fa-search"></i>
          </span>

        </div>
      </nav>
      <!-- /Navbar section -->
      <!-- Main section -->
      <main>
        <div id="jumbotron">
          <h3>Commence Business</h3>
          <h1>Distant Mentoring Program</h1>
          <a class="btn" href="#">Download free guidebook <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>

        <div id="main-section">
          <div class="container">

            <!-- Prima sezione con testo a sx -->
            <div class="explanation">
              <div class="text-section left-txt">
                <h5>Everything in <strong>Maxcoach</strong></h5>
                <h2>Learn about our <span class="special-title"> Work Culture</span> at MaxCoach</h2>
                <p>Spend some time to visit our website or head office and discover our current courses, enrollment procedure, and registration deadline. We're opening new classes every beginning of each month.</p>
                <p class="CTA greenCTA">Have questions? <span class="bold-green">Get Free Guide <i class="fas fa-long-arrow-alt-right"></i></span></p>
              </div>
              <div class="image-section right-img">
                <img class="main-img" src="img/stock-full-hd-10-ohki1ayywq3cqutettrncduujpoaorifqu4relt2ts.jpg" alt="work culture">
                <img class="trans-img" src="img/about-us-01-ohkia3qg98rq9vg3s0mn2hkflr1migdqdw370qnegc.jpg" alt="about-us">
                <img class="shape-square" src="img/maxcoach-shape-07.png" alt="shape">
                <div class="circle-shape"></div>
                <img class="shape-circle-dot" src="img/maxcoach-shape-02.png" alt="shape">
              </div>
            </div>
            <!-- Prima sezione con testo a sx -->

            <!-- Seconda sezione con dati -->
            <div class="statistics">
              <section>
                <h2 class="bold-green">129+</h2>
                <h5><strong>enrolled learners</strong></h5>
              </section>
              <section>
                <h2 class="bold-green">80</h2>
                <h5><strong>finished sessions</strong></h5>
              </section>
              <section>
                <h2 class="bold-green">4%</h2>
                <h5><strong>satisfaction rate</strong></h5>
              </section>
            </div>
            <!-- Seconda sezione con dati -->

            <!-- Terza sezione con testo a dx -->
            <div id="third" class="explanation">
              <div class="image-section left-img">
                <div class="main-img">
                  <img class="image"src="img/stock-full-hd-11-670x450.jpg" alt="work culture">
                  <img class="yt-btn" src="img/icon-youtube-play.png" alt="">
                </div>
                <img class="shape-square" src="img/maxcoach-shape-07.png" alt="shape">
                <div class="circle-shape"></div>
                <img class="shape-oval-dot" src="img/maxcoach-shape-05.png" alt="shape">
              </div>
              <div class="text-section right-txt">
                <h5>how we work</h5>
                <h2>Upgrade Your Skills <span class="special-title"> Upgrade Your Life</span></h2>
                <p>Opening up more opportunities in front of you to get the ticket to more enjoyable door in life. Getting equipped with new skills for new sets of insights into your career. MaxCoach accompany learners in every stage of learning..</p>
                <p class="CTA"><span class="bold-black">Download free guidebook <i class="fas fa-long-arrow-alt-right"></i></span></p>
              </div>
            </div>
            <!-- /Terza sezione con testo a dx -->
            <!-- Quarta sessione con preview corsi  -->
            <div class="preview">
              <h5>Join maxcoach at best</h5>
              <h2>Latest Online <span class="special-title">Courses</span></h2>
              <div class="cards-container">

                <div class="card">
                  <div class="card-img">
                    <img src="img/course-02-480x298.jpg" alt="course-img">
                  </div>
                  <div class="card-txt">
                    <div class="main-infos">
                      <div class="course-price">$40.<span class="smaller">00</span></div>
                      <div class="course-name">Learning to Write as a Professional Author</div>
                    </div>
                    <div class="other-infos">
                      <span><i class="far fa-file-alt"></i>20 Lessons</span>
                      <span><i class="far fa-user"></i>50 Students</span>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-img free">
                    <img src="img/stock-full-hd-03-480x298.jpg" alt="course-img">
                  </div>
                  <div class="card-txt">
                    <div class="main-infos">
                      <div class="course-price">$0.<span class="smaller">00</span></div>
                      <div class="course-name">Customer-centric Info-Tech Strategies</div>
                    </div>
                    <div class="other-infos">
                      <span><i class="far fa-file-alt"></i>24 Lessons</span>
                      <span><i class="far fa-user"></i>769 Students</span>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-img">
                    <img src="img/course-02-480x298.jpg" alt="course-img">
                  </div>
                  <div class="card-txt">
                    <div class="main-infos">
                      <div class="course-price">$19.<span class="smaller">00</span></div>
                      <div class="course-name">Open Programming Courses for Everyone: Python</div>
                    </div>
                    <div class="other-infos">
                      <span><i class="far fa-file-alt"></i>17 Lessons</span>
                      <span><i class="far fa-user"></i>62 Students</span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="carousel">
                <ul>
                  <li><i class="fas fa-circle active"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                  <li><i class="fas fa-circle"></i></li>
                </ul>
              </div>
              <div class="CTA">Control your personal preference settings to get notified about appropriate courses. <span class="bold-black">View all courses <i class="fas fa-long-arrow-alt-right"></i></span></div>
            </div>
            <div class="stripe"></div>
            <!-- /Quarta sessione con preview corsi -->
            <!-- Quinta sessione con testo a sx -->
            
            <!-- /Quinta sessione con testo a sx -->
          </div>
        </div>

      </main>
      <!-- /Main section -->
      <!-- Footer section -->
      <footer>
        <div id="footer-container">
          <section class="top-footer">
            <div id="left-footer">
              <h4>Address</h4>
              <section class="address">
                <ul>
                  <li>{{brandInfos.brandAddress}}</li>
                  <li>{{brandInfos.phoneAndDays}}</li>
                  <li><a href="#">{{brandInfos.emailAddress}}<a></li>
                </ul>
              </section>
              <section class="contacts">
                <ul>
                  <li v-for="social in socialLinks"><a :href=social.link><i :class=social.icon></i></a></li>
                </ul>
              </section>
            </div>
            <div id="right-footer">
              <section class="explore">
                <h4>Explore</h4>
                <ul>
                  <li v-for="explorelink in exploreLinks"><a :href= explorelink.link>{{explorelink.name}}</a></li>
                </ul>
              </section>
              <section class="Information">
                <h4>Information</h4>
                <ul>
                  <li v-for="infolink in infoLinks"><a :href=infolink.link>{{infolink.name}}</a></li>
                </ul>
              </section>
            </div>
          </section>
          <section class="bottom-footer">
            <div id="copyright">
              <p>&copy; {{yyyy}} Maxcoach. All Rights Reserved</p>
            </div>
          </section>
        </div>
      </footer>
      <!-- /Footer section -->
    </div>
    <script src="js/main.js" charset="utf-8"></script>
  </body>
</html>
