$fontFamily: 'Hind Siliguri', sans-serif;
$fontSize: 15px;
$fontMainColor: #22272D;
$brandGreen: #1fad95;
$footerGrey: #696969;
$brandGrey: #6c6c6b;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontMainColor;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h4 {
  color: white;
}

h5 {
  font-weight: 500;
  text-transform: uppercase;
  color: $brandGrey;
}

.btn {
  font-weight: bold;
  padding: 12px 40px;
  color: $brandGreen;
  background-color: white;
  border-radius: 7px;
  transition: color 0.4s, background-color 0.4s;
  &:hover {
    color: white;
    background-color: $brandGreen;
  }
}
