$fontFamily: 'Hind Siliguri', sans-serif;
$fontSize: 15px;
$fontMainColor: #22272D;
$brandGreen: #1fad95;
$brandOrange: #EE7454;
$footerGrey: #696969;
$brandGrey: #6c6c6b;
$hOneSize: 65px;
$hTwoSize: 40px;
$hThreeSize: 35px;
$hFiveSize: 15px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontMainColor;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: $hOneSize;
  font-weight: 400;
}

h2 {
  font-size: $hTwoSize;
  line-height: $hTwoSize + 6px;
  margin-bottom: 15px;
}

h3 {
  font-size: $hThreeSize;
  margin-bottom: -25px;
}

h4 {
  color: white;
}

h5 {
  font-size: $hFiveSize;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $brandGrey;
}

.special-title {
  font-weight: 300;
  color: $brandGreen;
}

p {
  color: $brandGrey;
}

.btn {
  font-weight: bold;
  padding: 12px 40px;
  color: $brandGreen;
  background-color: white;
  border-radius: 7px;
  transition: color 0.4s, background-color 0.4s;
  &:hover {
    color: white;
    background-color: $brandGreen;
  }
}
.inverted {
  display: inline-block;
  text-align: center;
  width: 190px;
  padding: 10px 40px;
  margin-top: 25px;
  color: white;
  border: 2px solid $brandGreen;
  background-color: $brandGreen;
  transition: color 0.4s, background-color 0.4s;
  &:hover {
    color: $brandGreen;
    background-color: white;
  }
}
