@import "main/_jumbotron";
@import "main/_explanation";
@import "main/_statistics";
@import "main/_preview";

$containerPadding: 120px 0 80px 0;
$containerWidth: 60%;


main {

  .container {
    margin: 0 auto;
    padding: $containerPadding;
    width: $containerWidth;
  }

  .circle-shape {
    border: 6px solid $circleShapeColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }

  .CTA {
    margin-top: 30px;
    &:hover {
      cursor: pointer;
    }
    .bold-black {
      transition: color 0.4s;
      &:hover {
        color: $brandGreen;
      }
    }
  }
  .greenCTA {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      width: 70%;
      height: 2px;
      bottom: 0;
      left: 0;
      background: $brandGreen;
      visibility: hidden;
      border-radius: 5px;
      transform: scaleX(0);
      transition: .25s linear;
    }
    &:hover:before,
    &:focus:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  .bold-p {
    font-weight: bold;
    font-size: 16px;
  }
  .bold-green {
    font-weight: bold;
    color: $brandGreen;
  }
  .bold-black {
    padding-bottom: 0;
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    color: black;
    transition: color 0.4s, border-color 0.4;
    &:hover {
      color: $brandGreen;
      border-color: $brandGreen;
    }
  }

}
